*{
    margin: 0;
}
body{
    background-color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
    width: 90vw;
}
header{
    top: 0;
    background-color: #e9e8e6;
    color: #222222;
    font-size: 14px;
    width: 2000px;
    height: 80px;
    position: relative;
}
.header_right{
    align-items: right;
    text-align: right;
    word-spacing: 10px;
    width: 1400px;
    height: 30px; 
}
.header_left{
    align-items: left;
    border-top-width: 0px;
    border-top-style: solid;
    border-left-style: solid;
    border-left-width: 0px;
    height: 30px;
    width: 500px;
}
li{
    text-decoration: none;
    display: inline;
}
a:link, a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color: green;
    text-decoration: underline;
}
.wrapper{
    width: 1200px;
    height: 500px;
    margin-left: 200px;
    margin-right: 200px;
border-right-width: 200px;
border-right-style: solid;
padding-right: 200px;
margin-left: 0px;
}
.resume{
    padding-bottom: 20px;
    text-align: center;           
}

.resumep{
    text-align: center;
}
.restitle{
    margin-left: -200px;
}
hr{
    width: 800px;
    margin-left: 250px;
}
.summary{
    font-size: 16px;
    text-align: center;
    margin-left: 350px;
    width: 700px;
    height: 4s00px;
    padding-top: 40px;     
}
.sumtitle{
    margin-left: -200px;
    font-size: 18px;
}
.summaryul{
    list-style-type: disc;
    padding-right: 250px;
}
strong{
    color: green;
}
p{
    font-size: 17px;
}
.education{
    font-size: 16px;
    text-align: center;
    margin-left: 350px;
    width: 700px;
    height: 200px;
    padding-top: 30px;
}
.edtitle{
    margin-left: -200px;
    font-size: 18px;
}
footer{
    background: #e9e8e6;
    padding: 10px 10px;
    color: #222222;
    font-size: 14px;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
}